.about
  padding: 0 30px
  height: 100%
  overflow-y: scroll
  
  h1
    margin-bottom: 25px

  &__team
    margin: 25px 0

    h4 span
      color: $orange

    li span
      color: $green
      font-weight: bold

  &__project__info
    h2
      text-align: center
    p
      margin: 5px 0 10px 0
    a
      color: rgba($green, 0.7)
      transition: all .3s ease-in-out
      margin-right: 25px
      display: inline-block
      margin-top: 5px
      margin-bottom: 10px
      &:hover
        color: $green
    ul
      margin: 5px 0 10px 0
      li
        padding: 2px 0
        &:nth-of-type(odd)
          background-color: $grey