.breadcrumb
  list-style: none
  display: flex
  padding-left: 30px
  li
    line-height: 10vh
    font-weight: bold
    &:not(:last-of-type):after
      content: '/'
      margin: 0 2px
    &.active
      font-weight: normal