.note--single
  .btn
    border: none
    position: fixed
    left: 0
    bottom: 0
    width: 20vw
    &:focus
      outline: none
  
  .fr-toolbar.fr-top
    border-radius: 0
    border: none
    background-color: $black
    
    button svg path
      fill: $white
    
    button:hover svg path, button.fr-open svg path, button#selectAll-1 svg path
      fill: $black