.btn
  border-radius: 2px
  padding: 10px 25px
  font-weight: bold
  letter-spacing: 1px
  transition: all .3s ease-in-out
  text-align: center

  &.hidden
    display: none

  &:focus
    outline: none

  &:hover
    cursor: pointer

  &--big
    min-width: 150px
    font-size: 24px
    font-size: 24px

  &--primary
    background-color: rgba($green, 0.7)
    color: $white
    &:hover
      background-color: $green

  &--light
    background-color: $orange
    color: $black
    border: none
    &:hover
      background-color: rgba($orange, 0.5)
      color: $white

.form
  &__group
    margin: 10px 0
    input
      padding: 10px 25px
      width: 50%
      font-weight: bold

.alert
  width: 100%
  display: inline-block
  padding: 10px 25px
  color: $white
  &--success, &--succes
    background-color: $green
  &--danger
    background-color: $red


input:read-only
  background-color: $grey
  color: $white


