@font-face
  font-family: 'Poppins-Regular'
  src: url('../../fonts/poppins/Poppins-Regular.ttf') format("ttf")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Poppins-Bold'
  src: url('../../fonts/poppins/Poppins-Bold.ttf') format("ttf")
  font-weight: normal
  font-style: normal

