*, *:before, *:after
  box-sizing: border-box
  margin: 0
  padding: 0

body
  font-family: $f-primary

#root
  display: grid
  width: 100vw
  height: 100vh
  grid-template-rows: 10vh 90vh
  grid-template-columns: 20vw 80vw
  grid-template-areas: "sidebar breadcrumbs" "sidebar container"
  background-color: $white

  .navbar
    grid-area: sidebar

  .container
    grid-area: container

  .breadcrumb
    grid-area: breadcrumbs

img
  max-width: 100%
  height: auto

a
  color: inherit
  text-decoration: none

ul
  list-style: none

input
  border: none
  &:focus
    outline: none