.landing
  height: 100%

  &__inner
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    padding-bottom: 10vh

    h1
      font-size: 60px
      font-family: $f-logo
      color: $orange

    p
      font-family: $f-logo
      font-size: 32px

    .buttons
      flex: 1
      display: flex
      align-items: center

      a:first-of-type
        margin-right: 50px
