.navbar
  // background-color: $black
  background-image: url('../../img/scribbler_navbar_background.jpg')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  color: $white

  display: grid
  grid-template-rows: 20vh 80vh
  
  h1
    transition: all .3s ease-in-out
    text-align: center
    &:hover
      color: $green
    a
      font-family: $f-logo
      font-size: 42px
      letter-spacing: 2px
    i
      font-size: 30px
      margin-right: 5px
    
  ul
    width: 100%
    a
      width: 100%
      display: inline-block
      padding: 5px 0 5px 30px
      &:hover
        color: $green
        background-color: rgba($green, 0.2)

