.notebook--single
  height: 100%
  overflow-y: scroll

  h1
    padding-left: 30px
    margin-bottom: 10px

  &__add
    background-color: rgba($green, 0.7)
    color: $white
    border-radius: 50%
    width: 50px
    height: 50px
    display: block
    text-align: center
    font-size: 20px
    line-height: 50px
    position: absolute
    bottom: 30px
    right: 30px
    transition: all .3s ease-in-out
    &:hover
      background-color: $green

  &__list
    &__labels
      display: grid
      grid-template-columns: 10% 30% 30% 30%
      button
        border: none
        font-weight: bold
        padding: 5px 0
        background-color: rgba($yellow, 0.7)
        color: $black
  
  
  .noteItem
    display: grid
    grid-template-columns: 10% 30% 30% 30%
    text-align: center
    background-color: rgba($green, 0.2)
    padding: 0 5px
    &:nth-of-type(odd)
      background-color: rgba($yellow, 0.2)

    &__data
      display: flex
      align-items: center
      justify-content: center
      &:not(:last-of-type)
        border-right: 1px solid $black
        padding: 5px 0
      &--nr
        i
          margin-right: 5px
      
      &--buttons
        font-size: 16px
        button
          background-color: inherit
          font-size: inherit
          border: none
          transition: all .3s ease-in-out
          margin-right: 10px
          color: $red
          &:hover
            cursor: pointer
            color: $black
          
        a
          color: $green
          transition: all .3s ease-in-out
        a:hover
          color: $black