.notebooks
  height: 100%
  overflow-y: scroll
  position: relative

  h1
    padding-left: 30px
  
  &__form
    margin: 10px 0
    form
      padding-left: 30px
      display: flex
    &__group
      margin-right: 10px
      input
        padding: 10px 25px
        font-weight: bold
        border: 1px solid #FFF
    .btn
      padding: 5px 10px
    
  &__search-form
    padding: 0 5px
    background-color: $black
    display: flex
    align-items: center
    color: $white
    i
      margin-right: 5px
    input
      padding: 5px
      color: $white
      background-color: $black
      &:first-of-type
        padding-left: 25px

  &__list
    &__labels
      display: grid
      grid-template-columns: 20% 20% 20% 20% 20%
      button
        border: none
        font-weight: bold
        padding: 5px 0
        background-color: $black
        color: $white

  .notebookItem
    display: grid
    grid-template-columns: 20% 20% 20% 20% 20%
    background-color: rgba($black, 0.5)
    padding: 0 5px
    &:nth-of-type(even)
      background-color: $grey

    &__edit__content
      display: grid
      grid-template-columns: 40% 40% 20%
      padding: 0 5px
      box-shadow: 0 8px 6px -6px #000
      overflow: hidden
      max-height: 0
      transition: all .5s ease-in-out
      &.active
        max-height: 500px
        margin-bottom: 5px
      input
        padding: 5px
        background-color: $green
        color: $white
        border: none
        border-right: 1px solid $black
      button
        border: none
        &:hover
          cursor: pointer
          background-color: $orange
        &:focus
          outline: none

    &__edit__share
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba($black, 0.5)
      display: flex
      justify-content: center
      align-items: center
      &__close
        position: absolute
        top: 20px
        right: 20px
        font-size: 20px
        border: none
        background-color: $white
        color: $black
        &:focus
          outline: none
        &:hover
          cursor: pointer
          color: $red
      &__inner
        padding: 50px
        background-color: $white
        box-shadow: 0 8px 6px -6px $black
        position: relative
        .btn-delete
          background-color: $white
          color: $green
          border: none
          font-size: 16px
          margin-right: 5px
          &:focus
            outline: none
            &:hover
              cursor: pointer
              color: $red
        li
          padding: 5px 0

        .btn
          border: none
          margin: 25px auto 0 auto
          display: block

      &__ad
        select
          background-color: $green
          border: 1px solid $black
          padding: 5px 50px
          margin-bottom: 25px
          &:focus 
            outline: none
        button
          padding: 6px 50px
          border: 1px solid $black
          border-left: none
          &:hover
            cursor: pointer
            border-color: $green
          &:focus
            outline: none

    &__data
      display: flex
      align-items: center
      justify-content: center
      &:not(:last-of-type)
        border-right: 1px solid $black
        padding: 5px 0

      &--title
        font-weight: bold
        justify-content: flex-start
        i
          margin-right: 5px

      &--buttons
        font-size: 16px
        button
          background-color: inherit
          font-size: inherit
          border: none
          transition: all .3s ease-in-out
          margin-right: 10px
          &:hover
            cursor: pointer
            color: $black
        &--delete
          color: $red
        &--edit
          color: $green
        &--share
          color: $white
          
        a
          color: $yellow
          transition: all .3s ease-in-out
        a:hover
          color: $black




