.not-found
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-size: 42px
  p
    font-size: 16px
    margin-top: 25px
  i
    margin-right: 8px