.register
  margin-left: 30px
  p
    margin: 5px 0 30px 0
    color: $orange
    a
      color: rgba($green, 0.6)
      transition: all .3s ease-in-out
      &:hover
        color: $green
  .btn
    margin-bottom: 25px